{
  "presets": [
    "bili/babel",
    "vue"
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "quasar": {
          "transform": "quasar-framework/dist/babel-transforms/imports.mat.js",
          "preventFullImport": true
        }
      }
    ],
    "syntax-dynamic-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
